.floatingbox {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 30px;
}

a {
	margin: auto;
	display: inline-block;
	font-style: italic;
	font-weight: bolder;
	font-size: 60px;
	font-family: 'Caslon';
	text-decoration: none;
	color: black;
}

@font-face {
  font-family: "Caslon";
  src:
    local("Libre_Caslon_Text"),
    url("/fonts/Libre_Caslon_Text/Libre_Caslon_Text-Regular.ttf") format("truetype");
}

body {
	background-color: lightgrey;
}



