* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
	font-display:swap;
	font-family:Carrara;
	font-style:normal;
	font-weight:300;
	src:
		url(./fonts/321983_0_0.woff2) format("woff2"),
		url(./fonts/321983_0_0.woff) format("woff"),
		url(./fonts/321983_0_0.ttf) format("truetype")}

#top {
	position: absolute;
	top: 0px;
}

#floatingbox {
	text-align: center;
	width: 100%;
	position: fixed;
	top: 30px;
	color: #212121;
	font-size: 60px;
	font-style: italic;
	font-weight: bolder;
	isolation: isolate;	
	mix-blend-mode: darken;
}

#headerbox {
	margin: 1%;
	background-color: #1b4224;
}


#headerwrapper {
	height: 96vh;
	min-height: 100%;
	margin: auto;
}

#headertext {
	color: #e6e6e6;
	font-size: 4em;
	text-align: left	;
	margin: auto;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-family: Carrara;
}

.maintext {
	color: #15141f;
	font-size: 25px;
}

.hiddenlist {
	list-style: none;
	padding-left: 0px;
}

.centered {
	text-align: center;
}

.links {
	display: inline-flex;
	list-style: none;
}

.links>li {
	padding: 2vh;
	color: #e0c19f;

}

a {
	margin: auto;
	display: inline-block;
	text-decoration: none;
	color: black;
	font-family: 'Helvetica';
}

footer {
	text-align: center;
	margin-bottom: 4vh;
}


body {
/* 	background-color: #e6e6e6; (old)*/
	background-color: #fefaee;
	#fefaee
	width: 100%;
	height: 100%;
}

html {
    scroll-behavior: smooth;
}


